.letter,
.wrapper,
html {
  font-size: 40px;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@font-face {
  font-family: afiany;
  src: url("EyeCatching.ttf") format("truetype");
}
.wrapper {
  border: 0.75rem solid #3f4d4d;
  margin: 2px;
  height: 97%;
  overflow: hidden;
}
.greeting {
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: rotate(350deg);
  margin-top: -1.25rem;
  margin-bottom: 2rem;
}
.greeting span {
  font-family: afiany, Verdana, Tahoma;
  font-size: 9rem;
  line-height: 5rem;
}
.invitation span,
.loc-info {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  position: relative;
}
.parent-names {
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
  text-align: center;
}
.location > span,
.m_scroll_arrows,
.mouse_scroll,
.wheel {
  display: block;
}
.loc-info {
  margin-top: 1.5rem;
}
.invitation span {
  font-size: 0.9rem;
  display: block;
  line-height: 1.5rem;
}
.invitation > span:last-child {
  font-family: afiany, Verdana, Tahoma;
  font-size: 2.3rem;
}
.date {
  font-size: 1.4rem;
}
.date span:nth-child(2) {
  font-size: 2rem;
}
.locgg{
  margin-top: 1.1rem;
  font-size: 0.9rem;
  width: 44%;
  margin-left: 28%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.location {
  margin-top: 1.1rem;
  font-size: 0.9rem;
  width: 44%;
  margin-left: 28%;
  position: relative;
}
.location::after{
  content: 'Konum için buraya dokunabilirsiniz';
  background-color: #3d4d4d;
  position: absolute;
  width: 55%;
  font-size: 28px;
  left: 104%;
  top: -15px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}
.location::before{
  content: '';
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #3d4d4d;
  position: absolute;
  left: 100%;
  top: -1px;
}
.tooltip{
  width: 33%;
  position: absolute;
  top: -120px;
  left: 0px;
  background: #3d4d4d;
  padding: 7px;
  border-radius: 5px;
  font-family: inherit;
  color: #e2e2e2;
}

.tooltip::before{
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #3d4d4d;
  left: 28%;
  top: -15px;
}
.wod-time {
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 1px;
  font-size: 0.75rem;
  height: 40px;
  margin-top: 12px;
}
.eucalyptu {
  height: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px;
  background-image: url("eucalyptu.webp");
}
.letter {
  width: 100%;
  height: 100%;
  background-color: #3f4d4d;
  position: absolute;
  z-index: 1;
  border: 5px solid #fff;
  transition: 3s;
  overflow: hidden;
}
.letter::before {
  content: "";
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 2rem);
  top: -2rem;
}
.letter .eucalyptu {
  margin-top: 20%;
  height: 30% !important;
}
.letter .greeting span {
  font-size: 7rem;
  line-height: 4.5rem;
}
.letter .date {
  font-size: 1.15rem;
  text-align: center;
}
.letter .date span:nth-child(2) {
  font-size: 1.5rem;
}
.letter-info-color {
  color: #ffefbecf;
}
.swipe-down {
  margin-top: 100vh;
}
.swipe-up {
  margin-top: 0;
}
.mouse_scroll {
  margin: 125px auto 0;
  width: 48px;
  height: 200px;
}
.m_scroll_arrows {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 6px 12px;
  width: 32px;
  height: 32px;
}
.doi,
.trei,
.unu {
  -webkit-animation: 1s infinite mouse-scroll;
  -moz-animation: 1s infinite mouse-scroll;
  animation: 1s infinite mouse-scroll;
}
.doi,
.unu {
  -webkit-animation-direction: alternate;
}
.unu {
  margin-top: 2px;
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-direction: alternate;
  animation-delay: alternate;
}
.doi,
.trei {
  margin-top: -6px;
}
.doi {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
  animation-direction: alternate;
}
.trei {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -webkit-animation-direction: alternate;
  animation-delay: 0.3s;
  animation-direction: alternate;
}
.mouse {
  height: 84px;
  width: 48px;
  border-radius: 28px;
  transform: none;
  border: 4px solid #fff;
  top: 170px;
}
.wheel {
  margin: 10px auto;
  background: #fff;
  position: relative;
  height: 8px;
  width: 8px;
  border: 4px solid #fff;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-animation: 0.6s linear infinite mouse-wheel;
  -moz-animation: 0.6s linear infinite mouse-wheel;
  animation: 0.6s linear infinite mouse-wheel;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(12px);
    -ms-transform: translateY(12px);
    transform: translateY(12px);
  }
}
@-moz-keyframes mouse-wheel {
  0%,
  100% {
    top: 2px;
  }
  25%,
  75% {
    top: 4px;
  }
  50% {
    top: 6px;
  }
}
@-o-keyframes mouse-wheel {
  0%,
  100% {
    top: 2px;
  }
  25%,
  75% {
    top: 4px;
  }
  50% {
    top: 6px;
  }
}
@keyframes mouse-wheel {
  0%,
  100% {
    top: 2px;
  }
  25%,
  75% {
    top: 4px;
  }
  50% {
    top: 6px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none !important;
  color: inherit !important;
}